adium-theme-ubuntu==0.3.4
backports-abc==0.5
certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
Django==1.8.7
django-allauth==0.34.0
django-bootstrap3==9.1.0
django-polls==0.1
djangorestframework==3.7.7
duplicity==0.7.6
functools32==3.2.3.post2
gyp==0.1
idna==2.6
lockfile==0.12.2
matplotlib==2.0.2
numpy==1.22.0
oauthlib==2.0.6
pandas==0.20.2
Pillow==5.0.0
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.10.0
snakeviz==0.4.1
sqlparse==0.1.18
subprocess32==3.2.7
tornado==4.5.1
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
wget==3.2
